<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="VapoliaNew" value="https://pkgs.dev.azure.com/vapolia/_packaging/vapolia/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
       <VapoliaNew>
         <add key="Username" value="%VapoliaNewUserName%" />
         <add key="ClearTextPassword" value="%VapoliaNewPassword%" />
       </VapoliaNew>
    </packageSourceCredentials>
</configuration>
