<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Qr19</string>
	<key>CFBundleDisplayName</key>
	<string>Qr19</string>
	<key>CFBundleIdentifier</key>
	<string>fr.vapolia.qr19</string>
	<key>MinimumOSVersion</key>
	<string>11.4</string>
	<key>AppStoreId</key>
	<string>1508015124</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>still-camera</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>NSCameraUsageDescription</key>
	<string>Pour scanner les codes QR</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
